.coment-reaction {
  display: inline;
  filter: grayscale(100%);
  color: rgb(155, 155, 155);
  cursor: pointer;
}
.coment-reaction__color {
  filter: grayscale(0%) hue-rotate(300deg);
  color: inherit;
}

.hide {
  display: none;
}