.section-item {
  display: block;
  width: fit-content;
  padding: 0 10px;
  background-color: aliceblue;
  border: 2px solid black;
  cursor: pointer;
}

.section-item__selected {
  /* text-shadow: 5px 5px 8px tomato; */
  background-color: red;
}

.topic-list{
  display: none;
}
.topic-list__show{
  display: inherit;
}