:root {
  --spacecraft-width      : 210px;
  --spacecraft-height     : 200px;
  --spacecraft-arm-height : 33px;
  --spacecraft-black      : rgb(44, 44, 44);
  --spacecraft-white      : rgb(244, 244, 218);
  --helmet                : rgb(9, 252, 252);

  --propulsion-height     : 80px;
  --propulsion-width      : 20px;
  --propulsion-color      : rgb(216, 194, 216);

  --general-anim-durat    : .75s
}


.loading > .cosmos {
  pointer-events: all;
  z-index: initial;

  & > .space > .stars {
    animation-name: none;
    opacity: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-fixed);
}

.loading-spacecraft {
  width: var(--spacecraft-width);
  height: var(--spacecraft-height);
  margin: 0;
  margin-top: auto;
  z-index: 1;
  position: relative;
}

.spacecraft__front, .spacecraft__side {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: var(--general-anim-durat);
  & > * {
    position: absolute;
  }
}

.trunk {
  right: 5px;
  top: 50px;
  width: 151px;
  height: 100px;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;

  .spacecraft__front > & {
    background-image: 
      radial-gradient(10px 5px at 126px 33px, var(--text-color) 5px, transparent 5px),
      radial-gradient(circle at 137px 40px, var(--text-color) 5px, transparent 5px),
      radial-gradient(circle at 123px 50px, var(--helmet) 23px, transparent 23px),
      radial-gradient(circle at 123px 50px, var(--spacecraft-black) 24px, transparent 24px),
      radial-gradient(circle at 112.5px 50px, var(--spacecraft-white) 37px, transparent 37px),
      radial-gradient(circle at 45px 50px, var(--spacecraft-white) 52px, transparent 52px),
      radial-gradient(10px 10px at 140px 32px, var(--spacecraft-black) 10px, var(--spacecraft-white) 10px, var(--spacecraft-white) 10.5px, transparent 10.5px),
      radial-gradient(10px 10px at 140px 68px, var(--spacecraft-black) 10px, var(--spacecraft-white) 10px, var(--spacecraft-white) 10.5px, transparent 10.5px)
    ;
  }
  .spacecraft__side > & {
    background-image: 
      radial-gradient(10px 10px at 140px 55px, var(--spacecraft-black) 10px, var(--spacecraft-white) 10px, var(--spacecraft-white) 10.5px, transparent 10.5px),
      radial-gradient(250px 150px at 37px 0px, transparent 35px, var(--spacecraft-white) 35px),
      radial-gradient(10px 5px at 120px 28px, var(--text-color) 5px, transparent 5px),
      radial-gradient(circle at 134px 30px, var(--text-color) 5px, transparent 5px),
      radial-gradient(circle at 123px 25px, var(--helmet) 23px, transparent 23px),
      radial-gradient(circle at 123px 25px, var(--spacecraft-black) 24px, transparent 24px),
      radial-gradient(circle at 112.5px 50px, var(--spacecraft-white) 37px, transparent 37px),
      radial-gradient(circle at 45px 50px, var(--spacecraft-white) 52px, transparent 52px),
    ;
    background-size: contain, 48px 35px, contain, contain, contain, contain, contain, contain;
    background-position: 0% 0%, 97px 17px, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    background-repeat: no-repeat;
  }
}

.arm, .leg {
  width: 70px;
  height: var(--spacecraft-arm-height);
  border: 1px solid var(--text-color);
  border-radius: 12px;
  border-left: none;
}

.arm {
  right: 70px;
  .spacecraft__front > &:nth-child(1) {
    top: 35px;
    background-image: 
      radial-gradient(circle at 0px 33px, rgba(255, 192, 203, 0.4) 0px, rgb(255, 192, 203, 0.4) 10px, rgba(255, 192, 203, 0.2) 10px, rgb(255, 192, 203, 0.2) 20px, transparent 20px),
      radial-gradient(circle, var(--spacecraft-black) 0%, var(--spacecraft-black) 100%)
    ;
    border-radius: 12px 20px 10px 12px;
    transform-origin: right bottom;
    transform: rotateZ(75deg) translateY(30px);
  }
  .spacecraft__front > &:nth-child(2) {
    bottom: 35px;
    background-image: 
      radial-gradient(circle at 0px 0px, rgba(255, 192, 203, 0.4) 0px, rgb(255, 192, 203, 0.4) 10px, rgba(255, 192, 203, 0.2) 10px, rgb(255, 192, 203, 0.2) 20px, transparent 20px),
      radial-gradient(circle, var(--spacecraft-black) 0%, var(--spacecraft-black) 100%)
    ;
    border-radius: 12px 10px 20px 12px;
    transform-origin: right top;
    transform: rotateZ(-75deg) translateY(-30px);
  }
  .spacecraft__side > & {
    top: calc(50% - (var(--spacecraft-arm-height) / 2));
    background-image: 
      radial-gradient(circle at 0px 16.5px, rgba(255, 192, 203, 0.4) 0px, rgb(255, 192, 203, 0.4) 10px, rgba(255, 192, 203, 0.2) 10px, rgb(255, 192, 203, 0.2) 20px, transparent 20px),
      radial-gradient(circle, var(--spacecraft-black) 0%, var(--spacecraft-black) 100%)
    ;
    border-radius: 12px 20px 20px 12px;
    // transform: rotateY(50deg);
    z-index: 1;
  }
}

.leg {
  right: 135px;
  background-image: 
    radial-gradient(circle at 0px 16.5px, rgba(255, 192, 203, 0.8) 0px, rgba(255, 192, 203, 0.8) 10px, rgba(255, 192, 203, 0.6) 10px, rgba(255, 192, 203, 0.6) 20px, rgba(255, 192, 203, 0.4) 20px, rgba(255, 192, 203, 0.4) 30px, rgba(255, 192, 203, 0.2) 30px, rgba(255, 192, 203, 0.2) 40px, transparent 40px),
    radial-gradient(circle, var(--spacecraft-black) 0%, var(--spacecraft-black) 100%)
  ;
  .spacecraft__front > &:nth-child(3) {
    top: 67.4px;
    border-bottom: none;
  }
  .spacecraft__front > &:nth-child(4) {
    bottom: 67.4px;
    border-top: none;
  }
  .spacecraft__side > & {
    top: calc(50% - (var(--spacecraft-arm-height) / 2));
    z-index: 1;
  }
}


.propulsion {
  position: absolute;
  left: -15px;
  top: calc((var(--spacecraft-height) - var(--propulsion-height)) / 2);
  width: var(--propulsion-width);
  height: var(--propulsion-height);
  background-image: 
    radial-gradient(15px 150px, transparent 1px, var(--propulsion-color) 2px, var(--propulsion-color) 3px, transparent 4px)
  ;
  animation-name: propulsion;
  animation-duration: calc(var(--general-anim-durat) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  &:nth-child(5), &:nth-child(6) {
    animation-delay: var(--general-anim-durat);
  }
}

.loading-text {
  position: absolute;
  top: calc(50vh + (var(--h1-font-size) * 3));
  left: calc(50vw - (var(--h1-font-size) * 2.5));
  white-space: nowrap;
  font-size: var(--h1-font-size);
  z-index: 1;
}

.loading-planet {
  position: absolute;
  bottom: -175px;
  left: -175px;
  width: 550px;
  height: 550px;
  // z-index: 1;

  &.fire{
    background-image: 
      radial-gradient(circle at 0% 100%, rgb(255, 227, 175) 0%, orange 50%, rgba(255, 245, 226, 0.5) 50%, transparent 52%)
    ;
  }
  &.watter{
    background-image: 
      radial-gradient(circle at 0% 100%, rgb(177, 255, 255) 0%, rgba(79, 255, 255, 0.755) 50%, rgba(79, 255, 255, 0.5) 50%, transparent 52%)
    ;
  }
  &.gaseous{
    background-image: 
      radial-gradient(circle at 0% 100%, rgb(207, 177, 255) 0%, rgba(182, 79, 255) 45%, rgba(182, 79, 255) 45%, rgba(182, 79, 255, 0.755) 50%, rgba(182, 79, 255, 0.755) 50%, transparent 52%)
    ;
  }
  &.earth{
    background-image: 
      radial-gradient(ellipse at 40% 125%, rgb(33, 222, 215) 0%, rgb(10, 200, 248) 35%, transparent 35%),
      radial-gradient(ellipse at -25% 48%, rgb(33, 222, 215) 0%, rgb(10, 200, 248) 35%, transparent 35%),
      radial-gradient(circle at 0% 100%, rgb(0, 205, 17) 0%, rgb(1, 199, 18) 50%, rgba(0, 173, 14) 50%, transparent 52%)
    ;
  }
}
.loading-planet__earth {
  position: absolute;
  bottom: 37px;
  left: 27px;
  width: 60px;
  height: 30px;
  border-radius: 50%;
  transform: rotateZ(45deg);
  z-index: 2;
  animation-name: disappear;
  animation-duration: var(--general-anim-durat);
  animation-delay: 0s;
  animation-timing-function: linear;

  &.fire {
    background-image: 
      radial-gradient(circle at 0% 100%, rgb(255, 177, 33) 20px, orange 30px, transparent 30px),
      radial-gradient(circle at 50% 130%, rgb(255, 177, 33) 20px, orange 30px, transparent 30px),
      radial-gradient(circle at 100% 100%, rgb(255, 177, 33) 20px, orange 30px, transparent 30px)
    ;
  }
  &.watter {
    background-image: 
      radial-gradient(circle at 0% 100%, rgba(79, 255, 255, 0.3) 20px, rgba(79, 255, 255, 0.5) 30px, transparent 30px),
      radial-gradient(circle at 50% 130%, rgba(79, 255, 255, 0.3) 20px, rgba(79, 255, 255, 0.5) 30px, transparent 30px),
      radial-gradient(circle at 100% 100%, rgba(79, 255, 255, 0.3) 20px, rgba(79, 255, 255, 0.5) 30px, transparent 30px)
    ;
  }
  &.earth {
    background-image: 
      radial-gradient(circle at 0% 100%, rgb(1, 199, 18) 20px, transparent 30px),
      radial-gradient(circle at 100% 100%, rgba(1, 199, 18) 20px, transparent 30px),
      radial-gradient(circle at 50% 130%, rgba(1, 199, 18) 20px, rgba(0, 173, 14) 30px, transparent 30px),
      radial-gradient(circle at 0% 100%, rgb(1, 199, 18) 20px, rgb(0, 173, 14) 30px, transparent 30px),
      radial-gradient(circle at 100% 100%, rgba(1, 199, 18) 20px, rgba(0, 173, 14) 30px, transparent 30px)
    ;
  }
}

// --- diferenciador del loading leaving y arriving ---
.loading-leaving {
  transform: translate3d(calc(50vw - 50%), calc(-50vh + 50%), 0px);
  animation-name: spacecraft-out;
  animation-duration: calc(var(--general-anim-durat) * 2);
  animation-delay: 0s;
  animation-timing-function: ease-in;
  
  & .spacecraft__front {
    opacity: 0%;
    animation-name: appear;
    animation-duration: var(--general-anim-durat);
  }
  & .spacecraft__side{
    animation-name: disappear, turbulence;
    animation-duration: var(--general-anim-durat), 5s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: linear, ease;
  }
}

.loading-arriving {
  transform: translate3d(calc(-25% + 35px), calc(25% - 35px), 0px) scale3d(.5, .5, 1) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 45deg);
  animation-name: spacecraft-in;
  animation-duration: calc(var(--general-anim-durat) * 2);
  animation-timing-function: ease-out;
  animation-direction: normal;

  & .spacecraft__front{
    animation-name: disappear;
    animation-duration: 1s;
  }
  & .spacecraft__side {
    animation-name: appear;
    animation-duration: 1s;
    opacity: 0%;
  }
}

// --------------SIMPLIFICACIÓN DE ANIMACIÓN----------------
/* @media screen and (max-width: 500px){
  .loading-leaving {
    animation-name: none;
    & .spacecraft__side{
      animation-name: none;
    }
  }
  .loading-arriving {
    animation-name: none;
    & .spacecraft__side {
      animation-name: none;
      opacity: 100%;
    }
  }
  .spacecraft__front {
    display: none;
  }
} */
// --------------------------------------------


@keyframes spacecraft-in {
  from {
    transform: 
      translate3d(calc(50vw - 50%), calc(-50vh + 50%), 0) 
      scale3d(1, 1, 1) 
      rotate3d(0, 1, 0, 180deg) 
      rotate3d(0, 0, 1, 0deg)
    ;
  }
  50% {
    transform: 
      translate3d(calc(25vw - 50%), calc(-50vh + 50%), 0px) 
      scale3d(1, 1, 1) 
      rotate3d(0, 1, 0, 180deg) 
      rotate3d(0, 0, 1, 0deg)
    ;
  }
  to {
    transform: 
      translate3d(calc(-25% + 35px), calc(25% - 35px), 0px) 
      scale3d(.5, .5, 1) 
      rotate3d(0, 1, 0, 180deg) 
      rotate3d(0, 0, 1, 45deg)
    ;
  }
}
  
@keyframes spacecraft-out {
  from {
    transform: 
      translate3d(-25%, 25%, 0px) 
      scale3d(.5, .5, 1) 
      rotate3d(0, 0, 1, -60deg)
    ;
  }
  50% {
    transform: 
      translate3d(calc(25vw - 50%), calc(-50vh + 50%), 0) 
      scale3d(1, 1, 1) 
      rotate3d(0, 0, 1, 0deg)
    ;
  }
  to {
    transform: 
      translate3d(calc(50vw - 50%), calc(-50vh + 50%), 0px) 
      scale3d(1, 1, 1) 
      rotate3d(0, 0, 1, 0deg)
    ;
  }
}

@keyframes disappear {
  from { opacity: 0%; }
  to { opacity: 0%; }
}
@keyframes appear {
  from { opacity: 100%; }
  to { opacity: 100%; }
}

@keyframes turbulence {
  from { transform: translate3d(0px, 5px, 0px); }
  3% { transform: translate3d(0px, -10px, 0px); }
  6% { transform: translate3d(0px, 5px, 0px); }
  9% { transform: translate3d(0px, -10px, 0px); }
  12% { transform: translate3d(0px, 5px, 0px); }
  15% { transform: translate3d(0px, -10px, 0px); }
}

@keyframes propulsion {
  from {
    transform: scale3d(.3, .3, .3);
    left: -10px;
    opacity: 100%;
  }
  to {
    transform: scale3d(1, 1, 1);
    left: -25px;
    opacity: 0%;
  }
}