:root {
  --border-coments: .25rem;
  --botton-margin: .25rem;
  --form-bottom-size: 2rem;
  --close-bottom-size: 1.5rem;
}

.coments {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 1.5rem 10vw .5rem;
  background-image: 
      radial-gradient(var(--consol-color-A) 0%, var(--consol-color-A) 100%);
  background-repeat: no-repeat;
  border-width: var(--border-coments);
  border-top-width: calc(var(--border-coments) * 2);
  border-style: solid;
  border-color: var(--consol-color-B);
  border-radius: 20% 20% 0 0;
  @include from(m){
    border-top-width: calc(var(--border-coments) * 3);
  }
  @include from(l){
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  & > * {
    width: 100%;
    max-width: 850px;
  }
}
.coments-form {
  position: relative;
}
.coments-form__textarea {
  width: 100%;
  // height: fit-content;
  // min-height: 3rem;
  max-height: 7rem;
  padding: .15rem .4rem;
  padding-right: calc(var(--form-bottom-size) + 1rem);
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: 5px;
  font-size: var(--body-font-size);
  @include from(m) {
    padding-right: calc(var(--form-bottom-size) + 1.2rem);
  }
}
.coments-form__button {
  position: absolute;
  right: var(--botton-margin);
  bottom: var(--botton-margin);
  // min-width: var(--form-bottom-size);
  min-height: var(--form-bottom-size);
  padding: 0 .3rem;
  font-size: var(--small-font-size);
  font-weight: bold;
  box-shadow: none;
}

.coments-counter {
  font-style: italic;
  margin-top: .15rem;
}
.coments-list {
  margin-top: 1rem;
}
.coments-warningtext {
  opacity: 70%;
  color: var(--alternative-color);
}


.coments-item {
  position: relative;
  margin-top: 1rem;
  border: 1px solid var(--text-color);
}
.coments-item:last-child {
  margin-bottom: 1rem;
}
.coments-item__text {
  padding: .5rem;
  padding-bottom: .25rem;
}
.coments-item__close {
  position: absolute;
  top: calc((var(--close-bottom-size) / 2) * (-1));
  right: calc((var(--close-bottom-size) / 2) * (-1));
  width: var(--close-bottom-size);
  height: var(--close-bottom-size);
  margin: auto;
}
.coments-item__close__icon {
  width: 1rem;
  height: 1rem;
  margin: auto;
  @include from(m) {
    width: 100%;
    height: 100%;
  }
}

.coments-item__reaction {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.155);
  font-size: var(--small-font-size);
}
.coments-reaction__loved {
  width: 100%;
  height: 100%;
  padding: .3rem .5rem;
  text-align: start;
  filter: grayscale(100%) opacity(80%);
}
.coments-reaction__color {
  filter: hue-rotate(300deg);
  color: inherit;
}
.coments-reaction__loved:hover {
  filter: grayscale(70%) opacity(90%);
  transform: scale(110%) translateX(1rem);
}