.section-item {
  display: block;
  width: fit-content;
  padding: 0 10px;
  background-color: rgba(240, 248, 255, 0.872);
  border: 2px solid black;
  color: blue;
  cursor: pointer;
}

.section-item__selected {
  /* text-shadow: 5px 5px 8px tomato; */
  background-color: red;
}

.topic-list{
  
}
.topic-favorite {
  cursor: pointer;
}
