.icon-container {
  cursor: pointer;
  display: inline-flex;
  // justify-content: center;
  // align-items: center;
  // height: 48px;
  // width: 48px
}
.icon-container__selected {
  background-image: radial-gradient(#e9f1f98d 10%, transparent 70%);
}

.icon-container__check {
  position: absolute;
  top: 2px;
  left: -24px;
}
// .icon-container__delete {
//   position: absolute;
//   top: -24px;
//   right: 0px;
// }

.icon {
  width: 20px;
  height: 20px;
  transition: fill .15s;
}