.modal-background {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(15, 46, 73, 0.4);
  color: var(--text-color);
  // pointer-events: none;
}
.modal {
  // pointer-events: all;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: .7rem;
  padding-bottom: calc(.7rem + 2.2rem);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--background-color);

  &-text__verify {
    margin: .5rem 0;
    // margin-bottom: 1.5rem;
    font-style: italic;
  }

  & [class*="modal-button"] {
    position: absolute;
    bottom: 5px;
    padding: .5rem;
  }
  &-button__accept {
    right: 5px;
  }
  &-button__cancel {
    left: 5px;
  }
}
// .modal-background__cancel {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   cursor: pointer;
//   z-index: -1;
// }