@import './sectionsList';

.main-topic {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  min-height: 50vh;
  height: 100%;
  max-height: 70vh;
  margin-top: .5rem;
  margin-bottom: calc(var(--crystal-size)/2);
  padding: 3rem 2rem;
  box-shadow: 0px 0px 25px 10px var(--text-color) inset;
  border-radius: 5px;
}
.topic-navigator {
  max-width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-y: scroll;
}
.search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.search-label {
  margin-bottom: .2rem;
}
.search-input {
  max-width: 14rem;
  padding: .15rem .4rem;
  color: var(--text-color);
  border-color: var(--text-color);
  border-width: 1px;
  border-style: solid;
}
.topic-list {
}
.topic-item {
  position: relative;
  margin: .7rem 0;
  padding-right: 1rem;
  font-size: 1rem;
  @include from(m) {
    margin: .5rem 0;
  }
}
.topic-item__a:hover {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-shadow: 0px 0px 5px var(--text-color);
  -moz-text-shadow: 0px 0px 5px var(--text-color);
  -webkit-text-shadow: 0px 0px 5px var(--text-color);
  -ms-text-shadow: 0px 0px 5px var(--text-color);
  -o-text-shadow: 0px 0px 5px var(--text-color);
}
.topic-item__input {
  opacity: 0%;
  width: var(--body-font-size);
  height: var(--body-font-size);
  margin-right: .5rem;
  cursor: pointer;
}
.topic-item__favorite {
  position: absolute;
  top: calc(50% - (calc(var(--body-font-size) + .0rem) / 2));
  left: 0;
  width: calc(var(--body-font-size) + .1rem);
  height: calc(var(--body-font-size) + .1rem);
  padding: .1rem;
  pointer-events: none;
}
.topic-favorite__svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
}
.topic-item__input:focus + .topic-item__favorite{
  outline: var(--outline-styles);
}
.topic-favorite__fill {
  fill: var(--text-color);
}
