@import './sectionsList';

.main-topic {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  // align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  max-width: 500px;
  margin-bottom: calc((var(--crystal-size)/2) - 5px);
  padding: 2rem;
  padding-bottom: 3rem;
  box-shadow: 0px 0px 25px 10px var(--text-color) inset;
  border-radius: 5px;
}
.topic-navigator {
  max-width: 100%;
  height: 200px;
  max-height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  @include from(m) {
    max-width: 70%;
  }
}
.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.search-label {
  margin-bottom: .2rem;
}
.search-input {
  max-width: 14rem;
  padding: .15rem .4rem;
  color: var(--text-color);
  border-color: var(--text-color);
  border-width: 1px;
  border-style: solid;
}
.topic-list {
}
.topic-item {
  position: relative;
  margin: .7rem 0;
  padding-right: 1rem;
  font-size: 1rem;
  @include from(m) {
    margin: .5rem 0;
  }
}
.topic-item__a:hover {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-shadow: 0px 0px 5px var(--text-color);
  -moz-text-shadow: 0px 0px 5px var(--text-color);
  -webkit-text-shadow: 0px 0px 5px var(--text-color);
  -ms-text-shadow: 0px 0px 5px var(--text-color);
  -o-text-shadow: 0px 0px 5px var(--text-color);
}
.topic-item__input {
  opacity: 0%;
  width: calc(var(--body-font-size) + .2rem);
  height: calc(var(--body-font-size) + .2rem);
  cursor: pointer;
}
.topic-item__favorite {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.topic-favorite__svg {
  position: absolute;
  top: 0;
  left: 0;
  padding: .1rem;
  fill: transparent;
  pointer-events: none;
}
.topic-item__input:focus + .topic-item__favorite{
  outline: var(--outline-styles);
}
.topic-favorite__fill {
  fill: var(--text-color);
}
