:root {
  --decoration-size: calc(70vw + 70vh);
}

.cosmos, .planet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  overflow: hidden;
  cursor: pointer;
  pointer-events: none;
  z-index: var(--z-back);
}
.space {
  position: relative;
  width: var(--decoration-size);
  height: var(--decoration-size);
  margin-top: -20vw;
  margin-left: calc( 50% - (var(--decoration-size) / 2));
  background-image: 
    radial-gradient(circle at 10% 15%, var(--text-color) .5px, transparent 2px),
    radial-gradient(circle at 12% 21%, var(--text-color) .7px, transparent 2.5px)
  ;
  background-size: 35% 30%, 27% 20%;
  transform-origin: left center;
  transform: rotateZ(10deg);
  @include from(m) {
    margin-left: -5vw;
  }
}
.stars {
  position: absolute;
  width: 120%;
  height: 120%;
  bottom: -10%;
  right: -10%;
}
.stars:nth-child(1) {
  background-image: 
      radial-gradient(circle at 10% 60%, var(--text-color) .3px, transparent 3.5px),
      radial-gradient(circle at 3% 3%, var(--text-color) .3px, transparent 3.5px),
      radial-gradient(circle at 85% 80%, var(--text-color) .3px, transparent 3.5px)
  ;
  background-size:  25% 25%, 15% 25%, 30% 10%;
  transform-origin: center center;
  transform: rotateZ(-30deg);
  animation-name: separateA;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stars:nth-child(2), .stars:nth-child(3) {
  background-image: 
      radial-gradient(circle at 26% 48%, var(--text-color) 0px, transparent 2px),
      radial-gradient(circle at 1% 1%, var(--text-color) .2px, transparent 2px),
      radial-gradient(circle at 19% 67%, var(--text-color) 1px, transparent 2px),
      radial-gradient(circle at 58% 93%, var(--text-color) .5px, transparent 2px),
      radial-gradient(circle at 72% 37%, var(--text-color) 0px, transparent 2px),
      radial-gradient(circle at 37% 83%, var(--text-color) .5px, transparent 2px),
      radial-gradient(circle at 11% 90%, var(--text-color) 0px, transparent 2px),
      radial-gradient(circle at 68% 15%, var(--text-color) .1px, transparent 2px),
      radial-gradient(circle at 68% 10%, var(--text-color) 1px, transparent 2px),
      radial-gradient(circle at 11% 90%, var(--text-color) .7px, transparent 2px),
      radial-gradient(circle at 37% 83%, var(--text-color) .4px, transparent 2px),
      radial-gradient(circle at 72% 37%, var(--text-color) 1px, transparent 2px),
      radial-gradient(circle at 58% 93%, var(--text-color) .5px, transparent 2px),
      radial-gradient(circle at 19% 67%, var(--text-color) .3px, transparent 2px),
      radial-gradient(circle at 1% 1%, var(--text-color) .5px, transparent 2px),
      radial-gradient(circle at 26% 48%, var(--text-color) .8px, transparent 2px);
  background-size:  35% 60%, 75% 45%, 70% 40%, 73% 46%, 63% 50%, 56% 36%, 56% 27%, 62% 34%, 30% 50%, 75% 55%, 70% 40%, 73% 46%, 63% 50%, 56% 46%, 56% 47%, 62% 34%;
  transform-origin: center center;
  transform: rotateZ(55deg);
  animation-name: separateB;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.stars:nth-child(3) {
  animation-delay: 15s;
  transform: rotateZ(-55deg);
}
@keyframes separateA {
  from {
    transform: rotate3d(0, 0, 1, 30deg) scale(70%);
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  65% {
    opacity: 100%;
  }
  to {
    transform: rotate3d(0, 0, 1, 30deg) scale(200%);
    opacity: 0%;
  }
}
@keyframes separateB {
  from {
    transform: rotate3d(0, 0, 1, 30deg) scale(70%);
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  65% {
    opacity: 100%;
  }
  to {
    transform: rotate3d(0, 0, 1, 30deg) scale(300%);
    opacity: 0%;
  }
}

// ------------------------------------------

.planet {
  background-color: var(--background-color);
}